
body{
    margin: 0;
    position: relative;
    min-height: 100vh;
    background: linear-gradient(0deg,
     rgb(180, 247, 253),rgb(72, 209, 219), rgb(1, 172, 202));
}       


.main-container {
    color: rgb(0, 0, 0);
    
    display: flex;
    flex-wrap: wrap;
    
    flex-direction: column; 
    align-items: center;
    
    position: absolute;
    min-height: 90%;
    min-width: 100%;
    
    top: 10%;
}

#image-container{
    display: flex;
    flex-direction: row;

}

.sherlock-image{
    height: 10vh;
    align-self: center;
}

.feather-image{
    height: 10vh;
    align-self: center;
}

h1{
    font-family: pattaya;
    font-size: 4vw;
    /* 3vw size with problems using 'ctrl +' but not with resizing window*/ 
}

p {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    
    font-family: 'pattaya';
    font-size: 3vw;
    /* 2vw size with problems using 'ctrl +' but not with resizing window*/
}

.btn{
    background: linear-gradient(60deg,
    rgb(160, 223, 228),rgb(144, 224, 230));
    border: 2px solid beige;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 3vw;
}

#typed-value{
    visibility: hidden;
}

.instruction {
    display: flex;
}

.highlight {
    color: blanchedalmond;
}

.error {
    background-color: lightcoral;
    border: red;
}

    
/*To Do: Research more about the use of -webkit- */

