
body{
    margin: 0;
    position: relative;
    min-height: 100vh;
    background: linear-gradient(0deg, rgb(0, 106, 124),
     rgb(175, 236, 240));
}       


.main-container {
    color: rgb(41, 14, 46);
    
    display: flex;
    flex-wrap: wrap;
    
    flex-direction: column; 
    align-items: center;
    
    position: absolute;
    min-height: 90%;
    min-width: 100%;
    
    top: 10%;
}

#image-container{
    display: flex;
    flex-direction: row;

}

.sherlock-image{
    height: 10vh;
    align-self: center;
}

.feather-image{
    height: 10vh;
    align-self: center;
}

h1{
    font-family: pattaya;
    font-size: 4vw;
    /* 3vw size with problems using 'ctrl +' but not with resizing window*/ 
}

p {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    
    font-family: 'open sans';
    font-size: 3vw;
    /* 2vw size with problems using 'ctrl +' but not with resizing window*/
}

.instruction {
    display: flex;
}

.highlight {
    background-color: yellow;
}

.error {
    background-color: lightcoral;
    border: red;
}

.glow{
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 2px rgb(149, 214, 226), 0 0 2px rgb(148, 202, 223), 0 0 2px #003de6;
    }
}
    
/*To Do: Research more about the use of -webkit- */

