body{
  margin: 0;

  position: relative;
  
  min-height: 100vh;
  min-width: 100%;

  background: rgb(156, 156, 154);
}

.nav{
  position: absolute;
  top: -50%
}

.centered{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sandbox{
  /*centered*/
  position: absolute;
  
  height: 50%;
  width: 50%;
  
  background: rgb(245, 244, 202);
  border: black solid 3px;
}

/*change position to static/absolute see how squares change*/
.container{
  position: absolute;
  
  height: 75%;
  width: 75%;
  
  background: #fae2d4;
  
  border: rgb(255, 0, 0) solid 3px;
}

#positionChangerBtn {
  position: absolute;
  z-index: 1;
}

#text {
  position: relative;
  top: 10vh;

  z-index: 1 ;
}

.box{
  position: absolute;

  height: 10vh;
  width: 10vh;
  
  border: black solid 3px;

  opacity: 0.9 ;
}

.box1{
  background: rgb(223, 105, 105);
  left: 0;
  top: 0;
}

.box2{
  background: rgb(91, 190, 91);
  right: 0;
  top: 0;
}

.box3{
  background: rgb(94, 94, 196);
  bottom: 0;
  left: 0;
}

.box4{
  background: rgb(163, 144, 109);
  bottom: 0;
  right: 0;
}